*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 80.5%;
}

body {
  font-family: 'Lucida Console', monospace;
  color: linen;
  background-color: rgb(20, 30, 40);
}
h1 {
    font-family: 'Lucida Console', monospace;
    font-size: 72px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}
h2 {
    font-family: 'Lucida Console', monospace;
    text-align: center;
    font-size: 32px;
    color: aliceblue;
    text-shadow: 3px 3px 5px rgb(26, 26, 26);
    padding: 10px;
    margin-top: 10px;
}
img {
  display: block;
  margin: 0 auto;
}
.pokeinfo {
    display: flex;
}
.pokeinfo img {
    flex: 1;
}
.pokeinfo .paragraphs {
    flex: 3;
    margin: auto;
    padding: 20px;
}

.form {
    width: 60%;
    min-height: 500px;
    margin: 20px auto;
    padding: 50px;
}
.form h2 {
    font-size: 48px;
    margin: 20px;
}
.form p {
    font-size: 25px;
    margin: 16px;
}
fieldset {
    padding: 50px;
    margin: 20px;
}
legend {
    font-size: 20px;
}
fieldset label {
    font-size: 16px;
    margin: auto;
}
input[type="radio"] {
  accent-color: #4ecdc4;
  font-size: 16px;
  padding: auto;
  margin: auto;
}
input[type="checkbox"] {
  accent-color: #4ecdc4;
  font-size: 16px;
  padding: auto;
  margin: auto;
}
.checkbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.submit {
    background-color: cornflowerblue;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    padding: 10px 30px;
    margin: auto;
    font-family: 'Lucida Console', monospace;
    color: aliceblue;
    font-weight: 900;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /*transition*/
}
.submit:hover {
    box-shadow: 1px 3px navy,
    -1px -3px lightblue;
    transform: scale(1.05);  /* 5% bigger */
}


/*IMPORTANT For the Javascript navigation buttons to work*/
.tab-content,
.sub-content {
  display: none;
}

.tab-content.active,
.sub-content.active {
  display: block;
}
/*until this part*/

.tabs {
    padding: 10px 20px;
}
.subtabs {
    padding: 10px 20px;
}
.tab-btn {
    padding: 15px 30px;
    border-radius: 5px;
    background-color: rgb(20, 30, 40);
    font-family: 'Lucida Console', monospace;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 3px 3px black
}
.sub-btn {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(20, 30, 40);
    font-family: 'Lucida Console', monospace;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 3px 3px black
}
.tab-content {
    padding: 10px 20px;
    background-color: rgb(51, 60, 77);
    max-width: 97%;
    margin: 5px auto;
    border-radius: 5px;
}